<div class="container" *ngIf="!questions">
  <h1 class="bg-info rounded w-50 m-auto text-center">
    Bienvenue sur le mode versus
  </h1>
  <h2 class="text-center">
    Choisissez les badges sur lesquels vous souhaitez jouer !
  </h2>
  <form *ngIf="badgesForm" [formGroup]="badgesForm" (ngSubmit)="selectedBadges()">
    <div class="text-center custom-control custom-checkbox form-check" *ngFor="let b of badges">
      <input type="checkbox" class="form-check-input" id="{{b.id}}" [formControl]="badgesForm.controls[b.id]">
      <label for="{{b.id}}" class="form-check-label">{{b.name}} </label>
    </div>
    <input type="submit" class="btn btn-success" value="Commencez !">
  </form>
</div>

<div class="container text-center mt-3" *ngIf="questions">
  <app-questions [questions]="questions" (gameEnded)="gameEndedHandler($event)"></app-questions>
</div>

<div class="text-center mt-3">

</div>
