<h2>Thème : {{question.badge.name}}</h2>
<h4>{{points}} points</h4>
<div class="container" *ngIf="question">
  <div id="question">{{question.intitule}}</div>
  <div id="reponses">
    <div class="row d-flex justify-content-center mt-5">
      <button type="button" class="btn btn-warning col-lg-4 mr-2 response" *ngFor="let r of [0, 1]" (click)="valider(r)"
              [ngClass]="{right: question.reponses[r].repondu && question.reponses[r].id === question.bonneReponse.id, wrong: question.reponses[r].repondu && question.reponses[r].id !== question.bonneReponse.id}">
        {{question.reponses[r].contenu}}
      </button>
    </div>
    <div class="row d-flex justify-content-center mt-2">
      <button type="button" class="btn btn-warning col-lg-4 mr-2 response" *ngFor="let r of [2, 3]" (click)="valider(r)"
              [ngClass]="{right: question.reponses[r].repondu && question.reponses[r].id === question.bonneReponse.id, wrong: question.reponses[r].repondu && question.reponses[r].id !== question.bonneReponse.id}">
        {{question.reponses[r].contenu}}
      </button>
    </div>
  </div>
</div>
